{% extends "layout.html" %}
{% block content %}

    <h1>PATIENT TABLE</h1>
    {% for patient in patient %}

    
    <p> tckn: {{patient[0]}} name: {{patient[1]}} surname: {{patient[2]}} age: {{patient[3]}} gender: {{patient[4]}} phone: {{patient[5]}} adress: {{patient[6]}} password: {{patient[7]}}</p>
    

    {% endfor %}
    <h1>TEST TABLE</h1>
    {% for test in test %}

    
    <p> id: {{test[0]}} hospital.patient: {{test[1]}} hospital.id: {{test[2]}} test_date: {{test[3]}} result: {{test[4]}}</p>
    

    {% endfor %}
    <h1>HOSPITAL TABLE</h1>
    {% for hospital in hospital %}

    
    <p> id: {{hospital[0]}} name: {{hospital[1]}} paramedic_count: {{hospital[2]}} capactiy {{hospital[3]}}</p>
    

    {% endfor %}

{% endblock %}