<!-- Store this code in 'register.html' file inside the 'templates' folder -->


{% extends "layout.html" %}
{% block content %}


    <div align="center"> 
        <div align="center" > 
            <div > 
            <h1 >SİL GİTSİN</h1> 
            </div></br></br></br> 
        <h2 > 
            <form action="{{ url_for('delete') }}" method="post"> 
                <div >{{ msg }}</div> 
                <input id="password" name="password" type="password" placeholder="Enter Your Password" /></br></br> 
                <input type="submit" value="SİL"></br> 
            </form> 
        </h2> 
        <p >gel gel  <a href="{{url_for('index')}}"> ansayfaya dön hacı</a></p> 
        </div> 
    </div> 

    {% endblock %}