<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Covid-19 Simulator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('index') }}">
        Anasayfa
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
            <a a class="navbar-item" href="{{ url_for('hastane') }}" >Hastane Ekranı</a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if session["loggedin"] %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="/profile">
                {{session["name"]}}
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                </a>
                    <a class="navbar-item" href="{{ url_for('update') }}" > Şifre Değiştir</a>
                    <a class="navbar-item" href="{{ url_for('delete') }}" >Hesabımı Sil</a>
                    <a class="navbar-item" href="{{ url_for('test') }}" > Test Ver</a>
                    <a class="navbar-item" href="{{ url_for('testsonuc') }}" >Test Sonuçlarım</a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
              <a class="button is-light" href="{{ url_for('logout') }}" >Logout</a>

            {% else %}
                <a class="button is-primary"href="{{ url_for('register') }}" >Kaydol</a>
                <a class="button is-light" href="{{ url_for('login') }}" >Giriş yap</a>
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}