<!DOCTYPE html>
<body>
    <a href="{{ url_for('index') }}" class ="btn">ANASAYFA</a>
    <a href="{{ url_for('read') }}" class ="btn">GOSTER</a>
    <div align = 'right'>
    <a href="{{ url_for('login') }}" class ="btn">Giriş yap</a>
    <a href="{{ url_for('update') }}" class ="btn">DEĞİŞTİR</a>
    <a href="{{ url_for('delete') }}" class ="btn">SİL</a>
    <a href="{{ url_for('register') }}" class ="btn">Kaydol</a>
    </div>
    {% for info in info %}

        <p>{{info.username}}</p><p>{{info.password}}</p><p>{{info.email}}</p>
    {% endfor %}
</body>
